$ghost-white: #f3eff5ff;
$eerie-black: #191919ff;
$claret: #8d163eff;
$dark-magenta: #952387ff;
$verdigris: #26b0baff;
$silver-sand: #c5ced3ff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}